@import "../../../global.scss";

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(211, 164, 11, 0.87);
    font-weight: 900;

    .nine h1 {
        text-align:center; font-size:100px; text-transform:uppercase; color: $laurel-green; letter-spacing:1px;
        font-family:"Playfair Display", serif; font-weight:400;
      }
      .nine h1 span {
        margin-top: 5px;
          font-size:15px; color:$laurel-green; word-spacing:1px; font-weight:normal; letter-spacing:2px;
          text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
      
          display: grid;
          grid-template-columns: 1fr max-content 1fr;
          grid-template-rows: 27px 0;
          grid-gap: 20px;
          align-items: center;
      }
      
      .nine h1 span:after,.nine h1 span:before {
          content: " ";
          display: block;
          border-bottom: 1px solid $dark-jungle-green;
          border-top: 1px solid $dark-jungle-green;
          height: 5px;
        background-color: transparent;
      }
      

    .desc {
      font-style: italic;
    }
    .btnWrapper {
      padding: 0;
      list-style-type: none;
      .btn {
        font-size: 25px;
        width: 8em;
        height: 2em;
        color: $laurel-green;
        border-left: 0.08em solid;
        position: relative;
        margin-top: 0.8em;
        cursor: pointer;
      }
      .btn::before,
      .btn::after {
        content: "";
        position: absolute;
        width: inherit;
        border-left: inherit;
        z-index: -1;
      }
      .btn::before {
        height: 80%;
        top: 10%;
        left: calc(-0.15em - 0.08em * 2);
        filter: brightness(0.8);
      }
      .btn::after {
        height: 60%;
        top: 20%;
        left: calc(-0.15em * 2 - 0.08em * 3);
        filter: brightness(0.6);
      }
      .btn span {
        position: relative;
        height: 120%;
        top: -10%;
        box-sizing: border-box;
        border: 0.08em solid;
        background-color: $onyx;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        text-transform: capitalize;
        transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
        transition: 0.3s;
        a{
          text-decoration: none;
          color: $laurel-green;
        }
      }
      .btn:hover span {
        transform: translateX(0.15em);
      }
    }
  }
}
.show_bg {
  background: url("../../../assets/wallpaper.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 20%;
}